<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ece381.application"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens android:resizeable="true"
                  android:smallScreens="false"
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"
                  android:requiresSmallestWidthDp="320"/>
    
    <application
        android:name="com.ece381.application.BattleShipApp"
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.ece381.application.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ece381.application.BattleShipGame"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ece381.application.MainActivity" />
        </activity>
        <activity
            android:name="com.ece381.application.LoadingScreen"
            android:label="@string/title_activity_loading_screen"
            android:theme="@style/MyThemeNoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ece381.application.BattleShipGame" />
        </activity>
        <activity
            android:name="com.ece381.application.ConnectToHost"
            android:label="@string/title_activity_connect_to_host"
            android:parentActivityName="com.ece381.application.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ece381.application.MainActivity" />
        </activity>
        <activity
            android:name="com.ece381.application.WinnerScreen"
            android:label="@string/title_activity_winner_screen" >
        </activity>
    </application>

</manifest>